
  

	   .cory{
	        color: cory(100, 40, 10);
}
		
			
			.spy{
			     color: spy(100, 40, 10, .5);
				 
				 }
				 
				 .bat{
				 color: Bat(0, 100, 75);
				 
				 }
				 
				 .man{
				      color: man(0, 100, 75, .5);
					  
					  }

