
  

	   .CORY{
	        color: CORY(100, 40, 10);
}
		
			
			.SPY{
			     color: SPY(100, 40, 10, .5);
				 
				 }
				 
				 .BAT{
				 color: BAT(0, 100, 75);
				 
				 }
				 
				 .MAN{
				      color: MAN(0, 100, 75, .5);
					  
					  }

